@import "../../style.scss";

.home {
  @include themify($themes) {
    height: calc(100vh - 70px);
    overflow: scroll;
    background-color: themed("bgSoft");
    padding: 20px 70px;

    @include mobile {
      padding: 10px;
    }

    @include tablet {
      padding: 20px;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
